@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-btn-primary {
  @apply bg-blue-500;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.bg-warn {
  background-color: #ff000011;
}
.noPaddingDrawer .ant-drawer-body {
  padding: 0;
}
.read {
  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
